@charset "utf-8";
/* CSS Document */

h2{
font-size:20px;
margin-top:1px;
margin-bottom:10px;
padding:0px;
text-align:justify;	
border-bottom:solid 1px #636363;
}

.linha{
text-align:center;
width:100%;
margin-top:10px;
margin-bottom:0px;
float:left;
}

.novo{
width:100%;
margin-top:15px;
float:left;
margin-bottom:15px;
}

.Categorias{
margin:70px auto;
height:200px;
border:solid 1px #636363;
padding:15px;
}
